@model LMSCapital.Models.AddUserViewModel
@{
    ViewData["Title"] = "Add User";
}

<h1>Add New User</h1>
@if (TempData["Message"] != null)
{
    <p class="text-danger">@TempData["Message"]</p>
}
<form method="post" action="Add">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="EnrollmentNo" class="form-label">Enrollment No</label>
        <input type="text" class="form-control" asp-for="EnrollmentNo">
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>